<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
<form action="answers" method="post">
    <div><b>Name </b> <input type="text" name="name" required="required"/></div>

    <div>
        Question 1. <b>START</b> <br/>
        <input type="text" name="start" size="35" value="What should I start doing?" placeholder="What should I start doing?"/> <br/>
        Question 2. <b>STOP</b> <br/>
        <input type="text" name="stop" size="35" placeholder="What should I stop doing?" value="What should I stop doing?"/> <br/>
        Question 3. <b>CONTINUE</b> <br/>
        <input type="text" name="continue" size="35" placeholder="What should I continue doing?" value="What should I continue doing?"/><br/>
        <b>Your Email </b> <br/>
        <input type="email" name="email" required="required"> <br/>
    </div>

    <div><input type="submit" value="Create A Survey"/></div>

</form>
</body>
</html>