@(user : User)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share Links</title>
</head>
<body>
<div>

    <b>@user.name, share this link to get answers</b> <br/>
    <a href="surveyQ/email=@user.email" target="_blank">Share this Link to get Answers</a>
</div>

<div>
    <b>Survey</b>
    <table border="2">
        <tr>
            <td>Link To Answers</td>
            <td><a href="surveyAns/email=@user.email" target="_self">Answers</a></td>
        </tr>
        <tr>
            <td>Update Questions</td>
            <td><a href="updateQ/email=@user.email" target="_self">UpdateQuestions</a></td>
        </tr>
        <tr>
            <td>Your Name</td>
            <td>@user.name</td>
        </tr>
    </table>
</div>

</body>
</html>