@(users : List[User], answers : List[Answers])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Answers</title>
</head>
<body>
<label>Some answers to your questions : </label><br/>

<label><b>@users(users.length-1).start</b></label><br/>
@for(ans <- answers){
<label>@ans.startQuestion</label><br/><br/>
}
<label><b>@users(users.length-1).stop</b></label><br/>
@for(ans <- answers){
<label>@ans.stopQuestion</label><br/><br/>
}
<label><b>@users(users.length-1).continue</b></label><br/>
@for(ans <- answers){
<label>@ans.continueQuestion</label><br/><br/>
}

@import play.api.Play.current
<footer>
    <!--user = @current.configuration.getString("environment.user"),-->
    date = @(new java.util.Date().format("yyyy-MM-dd HH:mm"))
</footer>

<input type="button" value="Reload Page" onClick="window.location.reload()">

</body>
</html>